In [2]:
import pandas as pd

In [3]:
a = !pwd

In [4]:
a

['/c/Users/T440p/zero_to_deep_learning_udemy/t']

In [5]:
!ls ../data

HR_comma_sep.csv
banknotes.csv
banknotes.png
cansim-0800020-eng-6674700030567901031.csv
diabetes.csv
drzewa_5000.json
generator
housing-data.csv
international-airline-passengers.csv
iris.csv
iss.jpg
sms.wav
titanic-train.csv
us_retail_sales.csv
user_visit_duration.csv
weight-height.csv
wines.csv

In [6]:
data = pd.read_csv('../data/iris.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [7]:
data_clip = pd.read_clipboard()

In [9]:
data_clip.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [10]:
def some_func(a):
    return a * 100
some_func(10)

1000

In [17]:
data_clip['Petal.Length'].map(some_func)

1     140.0
2     140.0
3     130.0
4     150.0
5     140.0
6     170.0
7     140.0
8     150.0
9     140.0
10    150.0
11    150.0
12    160.0
13    140.0
14    110.0
15    120.0
16    150.0
17    130.0
Name: Petal.Length, dtype: float64

In [18]:
data_clip

    Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1            5.1          3.5           1.4          0.2  setosa
2            4.9          3.0           1.4          0.2  setosa
3            4.7          3.2           1.3          0.2  setosa
4            4.6          3.1           1.5          0.2  setosa
5            5.0          3.6           1.4          0.2  setosa
6            5.4          3.9           1.7          0.4  setosa
7            4.6          3.4           1.4          0.3  setosa
8            5.0          3.4           1.5          0.2  setosa
9            4.4          2.9           1.4          0.2  setosa
10           4.9          3.1           1.5          0.1  setosa
11           5.4          3.7           1.5          0.2  setosa
12           4.8          3.4           1.6          0.2  setosa
13           4.8          3.0           1.4          0.1  setosa
14           4.3          3.0           1.1          0.1  setosa
15           5.8          4.0           1.2          0.2  setosa
16           5.7          4.4           1.5          0.4  setosa
17           5.4          3.9           1.3          0.4  setosa