In [6]:
def some_funct(x, y):
    return x+y

In [7]:
a = [33, 44, 56, 78]
b =[500, 600, 700, 800]
map(some_funct, a, b)

[533, 644, 756, 878]

In [8]:
map(lambda x: x / 2, a)

[16, 22, 28, 39]

In [9]:
map(lambda x,y: x + y, a, b)

[533, 644, 756, 878]

In [13]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.array(np.random.rand(5,3)))
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.387699</td>
      <td>0.406213</td>
      <td>0.594826</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.339999</td>
      <td>0.098241</td>
      <td>0.648365</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.936497</td>
      <td>0.328362</td>
      <td>0.641785</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.819668</td>
      <td>0.567387</td>
      <td>0.724038</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.947114</td>
      <td>0.194449</td>
      <td>0.106302</td>
    </tr>
  </tbody>
</table>
</div>

In [16]:
df.applymap(lambda x: x * 10)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>3.876989</td>
      <td>4.062127</td>
      <td>5.948258</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3.399987</td>
      <td>0.982406</td>
      <td>6.483653</td>
    </tr>
    <tr>
      <th>2</th>
      <td>9.364973</td>
      <td>3.283616</td>
      <td>6.417855</td>
    </tr>
    <tr>
      <th>3</th>
      <td>8.196678</td>
      <td>5.673872</td>
      <td>7.240381</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9.471139</td>
      <td>1.944487</td>
      <td>1.063018</td>
    </tr>
  </tbody>
</table>
</div>

In [17]:
max_find = lambda x,y: x if x>y else y

In [18]:
reduce(max_find, b)

800